@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  font-size: calc(1rem + 1.5vw);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {box-sizing: border-box;}

h1 {
  text-align: center;
  font-size: calc(3rem + 1.5vw);
  color: #f2f2f2;
}
h2 {
  text-align: center;
  font-size: calc(1rem + 1.5vw);
  color: #f2f2f2;
}
h3 {
  text-align: center;
  font-size: calc(0.5rem + 1.5vw);
}
p {
  text-align: center;
  font-size: calc(0.5rem + 1vw);
}
p.email {
  color: #f2f2f2;
}

img {
  border-radius: 50%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #4CAF50;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color: #f2f2f2;
  font-size: calc(0.5rem + 1vw);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 3rem;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #43A047;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #43A047;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 1rem;
  border-top: none;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

aside {
  background: #f2f2f2;
  padding: 0.5rem;
  margin-bottom:0.5rem;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.24);
}

section.land {
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

section.land aside {
  background: #4CAF50;
  padding: 0rem 0.5rem 3rem 0.5rem;
}

section.land aside h3 {
  color: #f2f2f2;
  padding: 0rem;
}

section.land aside p {
  color: #f2f2f2;
}

section.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

/* Style the chat window */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  font-size: calc(1.5vw);
  float: right;
  color: #aaa;
}

.time-left {
  font-size: calc(1.5vw);
  float: left;
  color: #999;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 40px;
  width: calc(5rem + 25vw);
  font-size: calc(0.5rem + 1vw);
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 40px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: calc(80rem + 50vw);
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: calc(0.5rem + 1vw);
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  font-size: calc(0.5rem + 1vw);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #43A047;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #43A047;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 1024px) {
  section.grid {
    grid-template-columns: 1fr 1fr;
  }
}